body{
    font-family: "Roboto", sans-serif;
background-color: #FFFFFF;
color: #434455;
 
}

ul{
list-style: none;
}
    

a{
text-decoration: none;
} 


/* ------header---------- */
.header-logo-blue{
font-family: raleway;
font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
color: #4d5ae5;
}
.header-logo-studio
{
font-family: raleway;
font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-menu-options{
font-family: roboto;    
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2E2F42;
}
.contact-details{
font-family: rototo;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
font-style: normal;
color: #434455;
}
/* pre section one */
.order-message
{
    background-color: #2E2F42;
}

.message-solution{
font-family: roboto;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
}
.order-service{
    font-family: "Roboto";
font-weight: 500;
font-size: 16px;
height: 56px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
background-color: #404BBF
}
/* -------first section-------- */
.section-first-header{
font-family: roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.section-fist-description
{
font-family: roboto;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
/* -------setion 2------- */
.our-team{
    background-color: #F4F4FD;
}
.our-team-section{
    background-color: #FFFFFF;
}
.section-second-header{
    font-family: roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    background-color: #F4F4FD;
    
}
.card-content-name{
    font-family: roboto;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2E2F42;
        background-color: #FFFFFF;

.card-content-profesion
{
    font-family: roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #FFFFFF;
}

/* --------section 3--------- */
.section-four
{
    font-family: roboto; 
  letter-spacing: 0.02em;
}
.Our-Portfolio{
font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
color: #2E2F42;

}
.section-four-mokeup-description
{
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em
    color #2E2F42;
}
.card-content-profesion
{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* ---------footeR------------ */
.footer-section
{
    font-family: raleway;
    background-color: #2E2F42;
}
.footer-web{
font-weight: 700;
    font-size: 18px;
    line-height:  1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #2E2F42;
}
.footer-studio{
font-weight: 700;
    font-size: 18px;
    line-height:  1.17;
    text-transform: uppercase;
    color: #F4F4FD;
    background-color: #2E2F42;
}
.footer-descripton{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #2E2F42;
}

